/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2018, 4:26:45 PM
    Author     : TienNguyen
*/

*{margin: 0; padding: 0}

ul.nav.navbar-nav ul li a {
    font-size: 14px !important;
}
aside#left-panel {
    width: 220px;
}
.card-body table th, .card-body table td {
    font-size: 13px;
}