*{padding: 0; margin: 0}

a.btn.btn-danger {
}

button.btn.btn-primary {
}

form.form_DangKy {
    width:  500px;
    height:  auto;
}

.form_div_dangKy {
    display: none;
    padding:  2em;
}

.form_div_dangNhap input.form-control {width:  250px;margin-left: 2.5em;}

.form_div_dangNhap button {margin-left: 7em;}

.form_div_dangNhap a {
    margin-left:  1em;
}

.form_div_dangNhap {
    padding-left:  3.5em;
}
section#section_login {
    height: 700px;
}
form.form_DangNhap {
    width:  500px;
    height:  auto;
}

form.form_DangNhap legend {
    width: 500px;
    margin: 1em auto;
    text-align:  center;
    border-radius:  20px;
}

form.form_DangNhap legend h4 {
    display: inline-block;
    cursor:  pointer;
    border-radius:  20px;
    box-sizing:  border-box;
    box-shadow: black 5px 3px 6px 0px;
}

h4#h4_DN {
    background:  #25CCF7;
    height: 50px;
    width:  200px;
    padding: 15px;
    color: white;
}

h4#h4_DK {
    width:  200px;
    height:  50px;
    padding:  15px;
    background:  #FC427B;
    color: white;
}



